name: CI/CD Laravel Server

on:
  push: 
    branches: [main]
  pull_request:
    branches: [main]

jobs: 
  ci:
    runs-on: ubuntu-latest 

    steps:
      - name: Checkout code 
        uses: actions/checkout@v6.0.1

      - name: Install PHP
        uses: shivammathur/setup-php@2.36.0
        with: 
          php-version: 8.4.1

      - name: Install Composer
        run: composer install --no-interaction --no-progress --optimize-autoloader

      - name: Prepare Laravel 
        run: |
            composer self-update 2.8.3
            composer -v
            cp .env.example .env
            php artisan key:generate
            php artisan jwt:secret
            php artisan config:cache
            php artisan config:clear
        
      - name: Run Tests
        run: php artisan test 

  cd: 
     runs-on: ubuntu-latest
     
     needs: ci
     
     steps:
      - name: Checkout code 
        uses: actions/checkout@v6.0.1

      - name: Connect to EC2 Server
        uses: appleboy/ssh-actions@v1.2.1
        with:
          host: ${{ secrets.host_name }}
          username: ${{ secrets.username }}
          key: ${{ secrets.key }}
