name: CI/CD Laravel Server
on:
  push: 
    branches: [main]
  pull_request:
    branches: [main]
jobs: 
  ci:
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout code 
        uses: actions/checkout@v6.0.1
      - name: Install PHP
        uses: shivammathur/setup-php@2.36.0
        with: 
          php-version: 8.4.1
      - name: Install Composer
        run: |
            composer self-update 2.8.3
            composer install --no-interaction --no-progress --optimize-autoloader
      - name: Prepare Laravel 
        run: |
            cp .env.example .env
            php artisan key:generate
            php artisan config:cache
            php artisan config:clear
        
      - name: Run Tests
        run: php artisan test 
  cd: 
     runs-on: ubuntu-latest
     needs: ci
     if: github.event_name == 'push' && github.ref == 'refs/heads/main'
     
     steps:
      - name: Checkout code 
        uses: actions/checkout@v6.0.1
      
      - name: Deploy to EC2 Server
        uses: appleboy/ssh-action@v1.2.1
        with:
          host: ${{ secrets.HOST_NAME }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            cd /tmp
            rm -rf ServerSide-Ats-deploy
            git clone https://github.com/Omarmhmdd/ServerSide-Ats.git ServerSide-Ats-deploy
            cd ServerSide-Ats-deploy
            sudo rsync -av --exclude='.git' --exclude='vendor' --exclude='node_modules' --exclude='storage' --exclude='.env' ./ /var/www/ServerSide-Ats/
            cd /var/www/ServerSide-Ats
            composer install --no-dev --optimize-autoloader
            php artisan migrate --force
            php artisan config:cache
            php artisan route:cache
            php artisan view:cache
            cd /tmp
            rm -rf ServerSide-Ats-deploy
